body{
    box-sizing: border-box;
}


.main{
    position: relative;
    padding: 60px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: url(../src/image/ken-cheung.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    &__social{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        
        border-radius: 50px;
        

        &-wr{
            margin-top: 35px;
            display: flex;

            .social--fa{
                width: 100px;
                background-color: #4569b6;
                box-shadow: 0px 0px 22px 3px #030360;
            }
            .social--in{
                margin-left: 20px;
                width: 150px;
                background-color: #00bfef;
                box-shadow: 0px 0px 22px 3px #034860;
            }
        }

       
    }

    .container{
       padding: 0;
        background-color: white;
        box-shadow: 0px 0px 20px #03032d;
        z-index: 1;

        @media(min-width: 1025px){
            display: flex;
            width: 80%;
        }

        &__left-wr{
            padding-left: 7%;
            position: relative;
            z-index: 1;

            p{
                color: white;
            }
        }

        &__left{
            position: relative;
            padding: 0px 20px;
            display: flex;
            align-items: center;
            height: 514px;
            background-image: url(../src/image/ken-cheung.jpg);
            background-repeat: no-repeat;
            background-size: cover;

            @media(min-width: 1025px){
                width: 50%;
            }

            &::after{
                content: '';
                position:absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: #3c14b5;
                opacity: 0.7;
            }
        }
        &__right{
            padding-bottom: 40px;
            display: flex;
            justify-content: center;

            @media(min-width: 1025px){
                width: 50%;
            }
        }
     
    }

    &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #9016c1;
        opacity: 0.7;
        z-index: 0;
    }
    &::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        backdrop-filter: blur(10px);
        z-index: 0;
    }

    &__logo{
        position: relative;
        font-size: 76px;
        font-weight: 700;
        line-height: 1;
        color: white;
        z-index: 10;
}
}
